@import url(//db.onlinewebfonts.com/c/bd1f28c07b5011d83f845a216c19bc6b?family=Bayshore);
@font-face {
    font-family: cobra;
    src: url(../font/deadstock.ttf);
}
@font-face {
    font-family: AbandoN;
    src: url(../font/AbandoN.ttf);
}
@font-face {
  font-family: rotis;
  src: url(../font/rotis.otf);
}
@font-face {
  font-family: semravut;
  src: url(../font/semravut.ttf);
}
@font-face {
  font-family: hypertext;
  src: url(../font/hypertext.ttf);
}
@font-face {
  font-family: furore;
  src: url(../font/furore.otf);
}
@font-face {
  font-family: glyphs;
  src: url(../font/glyphs.ttf);
}
@font-face {
  font-family: xtrchr;
  src: url(../font/xtrchr.ttf);
}
@font-face {
  font-family: zambajoun;
  src: url(../font/zambajoun.ttf);
}
@font-face {
  font-family: hikou;
  src: url(../font/hikou.otf);
}
@font-face {
  font-family: cyber;
  src: url(../font/cyberthrone.ttf);
}
@font-face {
  font-family: fox;
  src: url(../font/fox.ttf);
}
@font-face {font-family: "Bayshore"; src: url("//db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.eot"); src: url("//db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.woff") format("woff"), url("//db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bd1f28c07b5011d83f845a216c19bc6b.svg#Bayshore") format("svg"); }
.myFooter {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 6%;
  background-color: #1a237e;
  color: white;
  text-align: center;
  z-index: 9999!important;
}

.responsive-image{
    width:25vmax;
    height:20vmax;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#039be5;
	color:rgb(0, 0, 0);
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px rgb(209, 188, 0);
  z-index:100;
}

.my-float{
	margin-top:16px;
}
#videoContainer
{
  width: 100%;
  height: 60%;
  position:fixed;
}
#youtubeVideo {
  min-width: 140%;
  min-height: 140%;
  left: -20%;
  top:-20%;
  position: absolute;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: opacity(27%);
}

.content {
  display: none;
  bottom: 0;
  background: rgba(180, 180, 180, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#container{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

canvas {
  align-self: center;
  display: none;
}
.hikou-text {
  font-family:hikou;
  font-size:3vw !important;
  -webkit-animation: welcome 1s ease-in-out infinite alternate;
  -moz-animation: welcome 1s ease-in-out infinite alternate;
  animation: welcome 1s ease-in-out infinite alternate;
}
.welcome {
  font-family: Bayshore;
  font-size: 15vmax;
  text-align: center;
  -webkit-animation: welcome 1s ease-in-out infinite alternate;
  -moz-animation: welcome 1s ease-in-out infinite alternate;
  animation: welcome 1s ease-in-out infinite alternate;
}

.titles {
  font-family: cyber;
  font-size: 10vmax;
  text-align: center;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
  -webkit-animation: welcome 1s ease-in-out infinite alternate;
  -moz-animation: welcome 1s ease-in-out infinite alternate;
  animation: welcome 1s ease-in-out infinite alternate;
}
@-webkit-keyframes welcome {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.logo-text {
  font-family:hikou;
  font-size: 8vmin !important;
  -webkit-animation: welcome 1s ease-in-out infinite alternate;
  -moz-animation: welcome 1s ease-in-out infinite alternate;
  animation: welcome 1s ease-in-out infinite alternate;
}

.footer-credits {
  font-family:Arial;
  font-size:1,5vw;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.photo {
  width: 10vw;
}